
a-roadmap
testes.ods
deprecated/no_upload/useful/Documentation/Ayn_Rand's-Desk_Measurements.pdf
deprecated/no_upload/useful/Documentation/Gallery Floor plans.docx
deprecated/no_upload/useful/Documentation/Gallery Lighting_Colors_Text.docx
deprecated/no_upload/useful/Documentation/Gallery Sketches_ Exterior_Interior.docx
deprecated/no_upload/useful/links
deprecated/no_upload/useful/References/Exhibition/.DS_Store
deprecated/no_upload/useful/References/Exhibition/objects_placement.blend
deprecated/no_upload/useful/References/Exhibition/objects_placement.blend1
deprecated/no_upload/useful/References/Objects Location/Binder1-Sections-1-7-completed.pdf
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/2021 OCON - Virtual Exhibit, Narrative _ Object List.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Ayn Rand Exhibit Object List.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Gallery Exhibit Sections.JPG
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Gallery Floor Plan.JPG
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Gallery Floor plans.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Gallery furniture, windows, walls, doors.JPG
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Gallery Lighting_Colors_Text.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Gallery Sketches_ Exterior_Interior.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Getty Exhibit Design Theory.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/IMAGES.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/IMG_8727.JPG
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/IMG_9012.JPG
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/IMG_9019.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Lobby_ Colors and Lighting.png
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Screen Shot 2021-07-20 at 8.38.35 PM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Screen Shot 2021-07-20 at 8.40.13 PM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Screen Shot 2021-07-20 at 8.40.48 PM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Screen Shot 2021-07-20 at 8.41.26 PM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Screen Shot 2021-07-20 at 8.42.31 PM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Untitled document(1).docx
deprecated/no_upload/useful/Vinny <> ARI Folder/@Old Exhibition Docs/Untitled document.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/.DS_Store
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/2021 OCON - Virtual Exhibit, Narrative _ Object List- Revised.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/I - The Four Novels/.DS_Store
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/I - The Four Novels/I.1. WE THE LIVING/We_the_Living1936_1983.psd
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/I - The Four Novels/I.1. WE THE LIVING/We_the_Living_1st_Edition_6x9.psd
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/I - The Four Novels/I.1. WE THE LIVING/We_the_Living_6x9_Front_Cover_183_ST3_001_001.psd
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/I - The Four Novels/I.1. WE THE LIVING/We_the_Living_Poster_C.psd
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/I - The Four Novels/I.2. ANTHEM/Anthem_1978_edition.psd
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/I - The Four Novels/I.2. ANTHEM/Anthem_Cover01_6x9.psd
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/I - The Four Novels/I.3. THE FOUNTAINHEAD/The_Fountainhead_1st_PrintReprint_Cover_Small.psd
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/I - The Four Novels/I.3. THE FOUNTAINHEAD/The_Fountainhead_O_Connor_1978_edition.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/I - The Four Novels/I.4. ATLAS SHRUGGED/Atlas Shrugged_1978 cover.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/I - The Four Novels/I.4. ATLAS SHRUGGED/Atlas_Shrugged_1st_Cover_RGB_300dpi.psd
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/II - Leaving Soviet Russia/.DS_Store
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/II - Leaving Soviet Russia/II.1A. Video excerpt_ _Soviet Russia_/Soviet Russia.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/II - Leaving Soviet Russia/II.1B. Ayn Rand as University Student/1_20-01B.TIF
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/II - Leaving Soviet Russia/II.2. Ayn Rand in FIlm School_/4_film_strip-banner_5.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/II - Leaving Soviet Russia/II.2. Ayn Rand in FIlm School_/Ayn_Rand_Film_Strip_02_ARPhC_0017.psd
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/II - Leaving Soviet Russia/II.2. Ayn Rand in FIlm School_/Ayn_Rand_Photo_Strip_20-17.psd
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/II - Leaving Soviet Russia/II.3. Cinema Institute/11_former State Technicum for Screen Arts, 28 Tchaikovskiy str.psd
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/II - Leaving Soviet Russia/II.4. Early writings on Hollywood/Pola_Negri_by_Ayn_Rand_cover.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/II - Leaving Soviet Russia/II.4. Early writings on Hollywood/Screen Shot 2021-05-29 at 6.28.24 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/III - Early Hollywood Years/.DS_Store
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/III - Early Hollywood Years/III.1. Hollywood/4_6a18052u.tif
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/III - Early Hollywood Years/III.3. Wardrobe Department, RKO Radio Pictures /4_30-57.TIF
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/III - Early Hollywood Years/III.4. Wardrobe_ Walter Plunkett/Marie-1-831x1024.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/III - Early Hollywood Years/III.5. _Woman on Trial_/3_30_113_001.tif
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/III - Early Hollywood Years/III.6. Writing We the Living/AR_30-73_AR at Typewriter_RGB.psd
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/IV - New York Interlude/.DS_Store
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/IV - New York Interlude/IV.1A. Video, Stock_ New York City/New York City, 1930s.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/IV - New York Interlude/IV.1A. Video, Stock_ New York City/PP4050B.mp4
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/IV - New York Interlude/IV.1A. Video, Stock_ New York City/PP4050B.ogv
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/IV - New York Interlude/IV.1A. Video, Stock_ New York City/PP4050B_720p.mp4
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/IV - New York Interlude/IV.1B. Night of January 16th/Night_of_January_16th_jury_flyer_front.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/IV - New York Interlude/IV.2. Publishing We the Living/We_the_Living_1st_Edition_6x9.psd
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/IV - New York Interlude/IV.3. Writing Anthem/Anthem_Cover01_6x9.psd
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/IV - New York Interlude/IV.4. The Unconquered on Broadway/Unconquered_playbill.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/IV - New York Interlude/IV.5. Writing The Fountainhead/The_Fountainhead_first page.tif
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/IV - New York Interlude/IV.5. Writing The Fountainhead/The_Fountainhead_last_page.tif
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/V- Return to Los Angeles/.DS_Store
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/V- Return to Los Angeles/V.1A. What Los Angeles is Reading/@Screen Shot 2021-05-29 at 9.18.20 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/V- Return to Los Angeles/V.1A. What Los Angeles is Reading/Screen Shot 2021-05-29 at 9.14.30 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/V- Return to Los Angeles/V.1B. Hollywood Studio Employment/Screen Shot 2021-05-29 at 6.43.59 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/V- Return to Los Angeles/V.1B. Hollywood Studio Employment/Screen Shot 2021-05-29 at 6.45.02 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/V- Return to Los Angeles/V.2A. Hollywood and Politics/ayn-rand-before-huac1-722x500.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/V- Return to Los Angeles/V.2B. Video Clips - 1947 Hearings/1947-10-23_US_Films_Fight_Reds_512kb.mp4
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/V- Return to Los Angeles/V.2B. Video Clips - 1947 Hearings/AR’s testimony (partial).mp4
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/V- Return to Los Angeles/V.2B. Video Clips - 1947 Hearings/House Committee Video Clips.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/V- Return to Los Angeles/V.2B. Video Clips - 1947 Hearings/The Hollywood Blacklist- 1947-1960.mp4
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/.DS_Store
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/VI.1A. Video_ San Fernando Valley, 1940s/San Fernando Valley, 1940s.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/VI.1B. Richard Neutra _ von Sternberg House/@Screen Shot 2021-05-29 at 7.22.48 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/VI.1B. Richard Neutra _ von Sternberg House/Screen Shot 2021-05-29 at 7.14.15 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/VI.1B. Richard Neutra _ von Sternberg House/Screen Shot 2021-05-29 at 7.23.26 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/VI.1B. Richard Neutra _ von Sternberg House/Screen Shot 2021-05-29 at 7.24.21 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/VI.1B. Richard Neutra _ von Sternberg House/Screen Shot 2021-05-29 at 7.26.56 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/VI.2. Life at the Ranch/Screen Shot 2021-05-29 at 7.04.28 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/VI.2. Life at the Ranch/Screen Shot 2021-05-29 at 7.09.56 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/VI.2. Life at the Ranch/Screen Shot 2021-05-29 at 7.15.18 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/VI.2. Life at the Ranch/Screen Shot 2021-05-29 at 7.16.18 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/VI.2. Life at the Ranch/Screen Shot 2021-05-29 at 7.47.20 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/VI.3. A Writer’s Studio/1.Screen Shot 2021-05-29 at 7.12.56 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/VI.3. A Writer’s Studio/2.Screen Shot 2021-05-29 at 7.12.21 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VI - Von Sternberg House/VI.3. A Writer’s Studio/3.40_125_001.tif
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/.DS_Store
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS1019.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS1119.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS1219.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS1318.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS1419.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS1519.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS1619.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS1719.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS319.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS419.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS519.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS619.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS719.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS819.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/AS919.jpg
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VII - A New Novel_ ATLAS SHRUGGED/VII.2. Manuscript pages from Atlas Shrugged/Text Panels_.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VIII - A New Film_ Adapting THE FOUNTAINHEAD/.DS_Store
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VIII - A New Film_ Adapting THE FOUNTAINHEAD/VIII.1. The Script/Screen Shot 2021-05-29 at 7.00.27 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VIII - A New Film_ Adapting THE FOUNTAINHEAD/VIII.2. The film/@Screen Shot 2021-05-29 at 8.16.56 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VIII - A New Film_ Adapting THE FOUNTAINHEAD/VIII.2. The film/Screen Shot 2021-05-29 at 7.06.38 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VIII - A New Film_ Adapting THE FOUNTAINHEAD/VIII.2. The film/Screen Shot 2021-05-29 at 7.07.27 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VIII - A New Film_ Adapting THE FOUNTAINHEAD/VIII.2. The film/Screen Shot 2021-05-29 at 8.18.27 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VIII - A New Film_ Adapting THE FOUNTAINHEAD/VIII.2. The film/Screen Shot 2021-05-29 at 8.18.57 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VIII - A New Film_ Adapting THE FOUNTAINHEAD/VIII.2. The film/Screen Shot 2021-05-29 at 8.21.39 AM.png
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VIII - A New Film_ Adapting THE FOUNTAINHEAD/VIII.3. Video Excerpt_ The Fountainhead/The Fountainhead (trailer)-swOxKu80JpU-480p-1629149171825.mp4
deprecated/no_upload/useful/Vinny <> ARI Folder/Exhibition Items Source File/VIII - A New Film_ Adapting THE FOUNTAINHEAD/VIII.3. Video Excerpt_ The Fountainhead/The Fountainhead Trailer.docx
deprecated/no_upload/useful/Vinny <> ARI Folder/VR Exhibit_ Narrative, Design, Objects _ Text.pptx
